{% extends 'base/base.html' %}
{% block page_content %}
<form method="POST">
        <div class="panel panel-default">
            <div class="panel-heading">
                Eliminar
            </div>
            <div class="panel-body">
                {% csrf_token %}
                <div class="alert alert-success">
                    ¿Eliminar {{ obj.nombre }} ?
                </div>
                <button type="submit" class="btn btn-danger"><span class="fa fa-save"></span> Eliminar</button>
                <a href="{% url 'cartilla:cartilla_list' %}" class="btn btn-success"><span class="fa fa-undo"></span> Cancelar</a>
            </div>
        </div>
    </form>
{% endblock page_content %}